// @use "breakpoints" as *;
@use "colors" as *;
@use "shadows" as *;
// @use "utilities" as *;

.btn {
  background: $color--heading;
  color: white;
  padding: 14px 24px 13px 24px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
  border: 1px solid $color--heading;
  text-decoration: none;
  position: relative;
  transition: background 0.2s, border .2s, transform .2s;
  display: block;
  width: fit-content;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 300;
  letter-spacing: 0.1em;
  // font-weight: 600;

  // &::after {
  //   width: 100%;
  //   height: 100%;
  //   background: transparent;
  //   border: 2px solid $color--heading;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   content: "";
  //   display: block;
  //   transition: 0.2s ease;
  //   // z-index: -1;
  //   border-radius: 3px;
  //   width: calc(100% + 9px);
  //   height: calc(100% + 8px);
  //   left: -4.5px;
  //   top: -4px;
  // }

  &:hover {
    // &::after {
    //   width: calc(100% + 13px);
    //   height: calc(100% + 12px);
    //   left: -6.5px;
    //   top: -6px;
    // }
    filter: brightness(120%);
    transform: scale(1.02);
  }

  &.text {
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    color: $color--primary-dark;
    border: none;
    display: flex;
    align-items: center;
    box-shadow: none;

    svg,
    img {
      margin-left: 8px;
      transition: 0.2s ease;
    }

    &::after {
      display: none;
    }

    &:hover {
      box-shadow: none;

      svg,
      img {
        margin-left: 12px;
      }
    }
  }
}
