@use "colors" as *;

footer {
  padding: 2rem 0;
  background: white;
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    p {
      font-size: 18px;
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }
}
