@use "./colors" as *;
@use "./breakpoints" as *;

.product-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  @include media-breakpoint-up(sm) {
    gap: 32px;
  }
  @include media-breakpoint-up(md) {
    gap: 48px;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px;
  }
}
