@use "./colors" as *;
@use "./breakpoints" as *;

.product-card {
  text-decoration: none;

  .product-card__image {
    border-radius: 2px;
    overflow: hidden;
    background: #f7f7f7;
    border: none;
    height: auto;
    line-height: 0px;

    &.search-result {
      aspect-ratio: 1;
      width: 100%;
      @include media-breakpoint-up(sm) {
        width: 230px;
        height: 230px;
      }

      @include media-breakpoint-up(md) {
        width: 192px;
        height: 192px;
      }
      @include media-breakpoint-up(lg) {
        width: 280px;
        height: 280px;
      }
      @include media-breakpoint-up(xl) {
        width: 232px;
        height: 232px;
      }
    }

    img {
      width: 100%;

      @include media-breakpoint-up(sm) {
        width: 230px;
        height: 230px;
      }

      @include media-breakpoint-up(md) {
        width: 192px;
        height: 192px;
      }
      @include media-breakpoint-up(lg) {
        width: 280px;
        height: 280px;
      }
      @include media-breakpoint-up(xl) {
        width: 232px;
        height: 232px;
      }
    }
  }

  h3 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 12px;
  }

  span {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
  }
}
