@use "colors" as *;

$shadow--one: #22222210 1px 3px 8px -4px, #22222210 1px 3px 20px -10px;
$shadow--two: #21213120 1px 3px 24px -12px,#21213120 1px 3px 36px -18px;
$shadow--three:#21213130 1px 3px 48px -24px,#21213130 1px 3px 60px -30px;
$shadow--four:#28313790 1px 3px 64px -32px,#28313790 1px 3px 80px -40px;
