@use "colors" as *;
@use "breakpoints" as *;

// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

html,
body,
div,
p,
span,
small,
input,
::placeholder,
textarea,
button,
a {
  color: $color--text;
  font-family: "Montserrat", "Raleway";
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color--heading;
  font-weight: 600;
  font-family: "Montserrat", "Raleway Extrabold";
  margin-bottom: 1.125rem;
}

h1,
.h1 {
  font-size: 48px;
  line-height: 56px;
  font-family: "Old Standard TT";

  @include media-breakpoint-up(md) {
    font-size: 56px;
    line-height: 66px;
  }
}

h2,
.h2 {
  font-size: 28px;
  line-height: 30px;

  @include media-breakpoint-up(md) {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }
}

h3,
.h3 {
  font-size: 20px;
  line-height: 30px;

  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 30px;
  }
}

h4,
.h4 {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 1rem;
}

p,
ul,
li {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  font-family: "Arapey", "Raleway";

  @include media-breakpoint-up(md) {
    font-size: 17px;
    line-height: 2rem;
  }

  &.display {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: $color--primary;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
}

a {
  color: $color--link;
  font-weight: bold;
}

.section-heading {
  margin-bottom: 1rem;
  margin-top: 0;
  max-width: 600px;
  // font-weight: 900;
  line-height: 3.125rem;
}

.section-description {
  margin-top: 0;
  max-width: 769px;
  font-size: 18px;
  line-height: 28px;

  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 28px;
  }
}

.section-description:last-of-type {
  margin-bottom: 2rem;
}
