@use "partials/_typography" as *;
@use "partials/_buttons" as *;
@use "partials/_breakpoints" as *;
@use "vendor/_grid" as *;
@use "partials/_footer.scss" as *;

html {
  font-size: 100%;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.wrapper {
  transition: 0.3s;

  &.blur {
    filter: blur(6px);
  }
}

* {
  box-sizing: border-box;
}

section {
  overflow: hidden;

  .container {
    position: relative;
    z-index: 1;
  }
}

aside,
section,
footer {
  margin-bottom: -2rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }

  // .container {
  //   padding-top: 5rem;
  //   padding-bottom: 5rem;
  // }

  &.overflow {
    padding-bottom: 50rem;
    margin-bottom: -50rem;
  }
}

/*!
 * Bootstrap Grid v4.5.2 
 */
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}

.max-560 {
  max-width: 560px;
  margin-left: auto !important;
  margin-right: auto !important;
}

p.hidden {
  height: 0px;
  width: 0px;
  overflow: hidden;
  margin: 0;

  label {
    font-size: 0px;
    line-height: 0px;
    height: 0px;
    width: 0px;
    display: block;
  }

  input {
    height: 0px;
    width: 0px;
    display: block;
  }
}
