@use "../breakpoints" as *;
@use "../shadows" as *;
@use "../colors" as *;

.toast {
  background-color: $color--tan;
  // border: 1px solid #ddd;
  color: $color--heading;
  width: max-content;
  position: absolute;
  min-width: 200px;
  width: 200px;
  z-index: 10;
  white-space: nowrap;
  border-radius: 4px;
  padding: 12px 32px;
  font-family: "Montserrat";
  font-weight: 300;
  box-shadow: 1px 1px 60px -10px #33333350;
  bottom: 2rem;
  left: 2rem;
  text-align: center;
  font-weight: 500;

  // opacity: 1 !important;
  // transform: none !important;
  // animation: none !important;
  font-size: 16px;
  line-height: 16px;
}

@keyframes showing {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hiding {
  50% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.hiding {
  animation: hiding 1s ease;
}

.showing {
  animation: showing 1s ease-out;
}
